.tile-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height: 100% !important; 
    margin-bottom: 20px;
}

.tile-image-placeholder {
    height: 150px !important;
    width: 100% !important; 
    background-color: #e6e6e6; 
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
    flex-shrink: 0;
}

.tile-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: #333; 
}

.tile-description {
    font-size: 14px;
    color: #666; 
    line-height: 1.4;
    margin: 0 0 15px 0; 
    flex-grow: 1;
}

.tile-price-container {
    margin: 10px 0 15px 0;
    font-weight: bold;
    color: #333;
}

.tile-price-label {
    font-size: 12px;
    margin-right: 5px;
    color: #666;
}

.tile-price-value {
    font-size: 16px;
    color: #1E90FF;
}

.tile-view-link {
    width: 100%;
    margin-top: auto;
    text-decoration: none; 
}

.tile-image {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    display: block !important;
}

.tile-title {
    font-size: 18px;
}

img {
    max-width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
} 

/* .primary-button.tile-view-button {
    width: 100%;
    box-sizing: border-box; 
    padding: 10px 25px; 
    
    background-color: #ffffff; 
    color: #444444; 
    border: 1px solid #cccccc; 
}

.primary-button.tile-view-button:hover {
    background-color: #f4f4f4; 
    border-color: #aaaaaa;
} */